---
title: "Writing"
layout: page
permalink: "/writing.html"
---

<ul class="list-unstyled">
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li class="mb-2">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small>
    </li>

  {% endfor %}
</ul>
